.explore {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 300px 20px 250px;
  background-color: white;
}
.title {
  color: slateblue;
  width: 100%;
  text-align: center;
  margin: 10px auto 50px;
  font-size: x-large;
  font-weight: 900;
  font-family: "Montserrat";
}

@media (max-width: 820px) {
  .explore{
    padding: 80px 0 30px;
  }
  
}
