.titleCard,
img {
  width: 220px;
  height: 220px;
  border-radius: 12px;
  max-width: 100%;
  object-fit:cover;
}

.titleName {
  font-family: Montserrat;
  color: rgb(45, 45, 45);
  font-weight: 700;
  line-height: 20px;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 8px;
}

.titleCardSize {
  width: 210px;
  height: auto;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.titleCard:hover {
  transform: translateY(-5px);
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  /* outline: 3px solid rgba(0, 0, 0, 0.805); */
  /* outline-offset: -2px; */
}
