.bg {
  position: fixed;
  background-color: rgba(5, 5, 5, 0.882);
  width: 100%;
  min-height: 110vh;
  z-index: 100;
  margin-top: -267px;
  backdrop-filter: blur(5px);
}
.bg, .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: auto;
  height: 80vh;
  display: flex;
  object-fit: fill;
  border-radius: 0;
}


@media (max-width: 1080px) {

  .image {
    width: 50vh;
    height: auto;
    display: flex;
    object-fit: fill;
    border-radius: 0;
  }
  
}
